<footer>
    <div class="footer">
        <section><i class="fa-solid fa-money-check-dollar"></i><br><strong>Pagá con tarjeta o en efectivo </strong><br>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</section><br>
            <section><i class="fa-solid fa-gift"></i><br><strong>Envío gratis desde $ 2.500</strong> <br>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</section><br>
                <section><i class="fa-solid fa-user-shield"></i><br><strong>Seguridad, de principio a fin </strong><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </section><br>
            </div>
    <section class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
</footer>