<header>
    <section id="main-header">
        <div id="nav-top">
            <div id="nav-top-mobile">
                <img src="/images/logo-mercado-liebre.svg" alt="mercado" class="logo">
                <div class="search-container">
                    <form class="search" action="/search">
                        <div class="input-container">
                            <input type="text" placeholder="Buscar...">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <h2 class="copy-header"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta
                de crédito</h2>
        </div>
        <nav>
            <ul class="left-nav" type="none">
                <li><a href="#ofertas"> Ofertas</a> </li>
                <li> <a href=""> Tiendas Oficiales </a></li>
                <li> <a href="/product"> Vender</a></li>
                <li> <a href="/faqs"> Ayuda </a></li><br>
            </ul>
            <ul class="right-nav" type="none">
                <li> <a href="/user/register"> <i class="fa-solid fa-money-check"></i> Creá tu cuenta</a></li>
                <li> <a href="/user/login"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresá </a> </li>
                <li> <a href=""> <i class="fa-solid fa-basket-shopping"></i> Mis compras </a></li>
            </ul>
        </nav>
    </section>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
</header>